<section id="site-name">
    <h3>
        <a href="/">Alia Uche
            <br>
            <span class="lead"> The Official Alia Uche Site</span>
        </a>
    </h3>
</section>

<section id="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--          <a class="navbar-brand" href="#">Navbar <span class="sr-only">(current)</span></a>-->
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav">
           <li class="nav-item">
             <a class="nav-link" href="/">HOME </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/works">WORKS </a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/bio">BIO</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/tour">TOUR</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/contact">CONTACT</a>
           </li>
         </ul>
       </div>
     </nav>
</section>